.content {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  height: 32px;
  width: 228px;
  top: 30px;
  left: 64px;
}

.header__title {
display: flex;
margin: 0;
line-height: 96px;
font-size: 102px;
font-weight:600;
width: 730px;
padding-top: 290px;
padding-left: 64px;
z-index: 3;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight:normal;
  width: 388px;
  margin: 0;
}

.header__link {
color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  top: 146px;
  left: 831px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  left: 1028px;
  top: 64px;
  z-index: 1;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 784px;
  width: 80%;
  margin: 0 0 0 100px;
}

  .two-columns__brief {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 1;
    max-width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight:normal;
    color: #2f80ed;
  }

  .two-columns__main-text {
    display: flex;
    flex-direction: column;
   /* flex-basis: 100%; */
    flex: 1;
    min-width: 784px;
    width: 80%;
    line-height: 34px;
    font-size: 24px;
    font-weight:normal;
  }

  .two-columns__span-accent {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-title {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin: 100px auto 20px auto;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight:600;
  }

  .section-subtitle {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto 0 auto;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight:normal;
  }

  .table {
    display: flex;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    flex: 1;
    flex-direction: row;
    margin: auto auto 100px auto;
    width: 1100px;

  }

  .table__cell {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;
    width: 250px;

  }

.table__heading {
  display: flex;
  column-gap:0px;
  align-self: flex-start;
  line-height: 1.15;
  font-size: 24px;
  font-weight:600;
}

.table__text {
  align-self: flex-start;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight:normal;
}

.feynman {
  background-color: #f2f2f2;
  margin: 100px 0 0 0;
  position: relative;
  height: 890px;
  z-index: 0;
}

.feynman__title {
  text-align: center;
  padding-top: 100px;
  display: flex;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight:600;
  width: 648px;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman-illustration {
  position: absolute;
  height: 637px;
  width: 867px;
  bottom: 0px;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.kaufman {
  position: relative;
  background-color: black;
  overflow: hidden;
  margin: 0;

}

.section-title_theme_dark {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 20px auto;
  padding-top: 90px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight:600;
  color: white;
}

.section-subtitle_theme_dark {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  position: relative;
  display: flex;
  padding: 0;
  padding-bottom: 90px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  flex: 1;
  flex-direction: row;
  margin: auto;
  width: 1100px;
}

.table__cell_theme_dark {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.kaufman__triangle {
  position: absolute;
  background-size: 877px 877px;
  /*height: 0px;
  width: 0spx;
  border-top: 405px solid transparent;
	border-left: 662px solid #2f80ed;
	border-bottom: 300px solid transparent;*/
  right: -210px;
  z-index: 1;
}

.footer {
 /* border: solid 1px red;*/
  background-color: black;
  display: flex;
  flex-basis: 711px;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__columns {
 /* border: solid 1px red;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
  margin: 0 auto 0 auto;
}

.footer__column_content_copyright {
 /* border: solid 1px red;*/
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  /*border: solid 1px red;*/
  display: flex;
  height: 32px;
  width: 228px;
}

.footer_author {
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
  display: flex;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  margin: 0;
  padding: 0;
  list-style-type: none;
 /*border: solid 1px red;*/
  display: flex;
  flex-direction: column;
  width: 11%;
  height: 100%;
  justify-content: space-between;
  justify-content: start;
}

.footer__column_content_social {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*border: solid 1px red;*/
  display: flex;
  flex-direction: column;
  width: 11%;
  height: 100%;
  justify-content: space-between;
  justify-content: start;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  color: white;
  display: flex;
  align-self: start;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link {
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin-left: 26px;


}

.footer__social-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 57px;
  padding-right: 10px;
}

.footer__social-icon_vk {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 87px;
  padding-right: 10px;
}

.footer__social-icon_insta {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 117px;
  padding-right: 10px;
}
